
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

@keyframes typing {
  0% { width: 0; }
  100% { width: 100%; }
}

@keyframes blink {
  0%, 50% { border-color: transparent; }
  100% { border-color: black; }
}

.typing-effect {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid black;
  animation: typing 3.5s steps(30) forwards, blink 0.75s step-end infinite;
  opacity: 1;
  width: 0;
}

.typing-effect-show {
  opacity: 1;
}

.hidden {
  display: none;
}

body {
  font-family: 'Playfair Display', serif;
  background-color: #ffffff; /* Beyaz arka plan */
  margin: 0;
}

.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.4;
  mix-blend-mode: screen;
  animation: float 8s ease-in-out infinite alternate;
}

.blob1 {
  width: 400px;
  height: 400px;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4);
  top: -100px;
  left: -100px;
  animation-delay: 0s;
}

.blob2 {
  width: 300px;
  height: 300px;
  background: linear-gradient(45deg, #a1c4fd, #c2e9fb);
  bottom: -100px;
  right: -100px;
  animation-delay: 2s;
}

.blob3 {
  width: 350px;
  height: 350px;
  background: linear-gradient(45deg, #fbc2eb, #a6c1ee);
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  animation-delay: 4s;
}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(-20px) scale(1.05);
  }
}

/* Global font classes */
.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-signature {
  font-family: 'Just Me Again Down Here', cursive;
}

.font-libre {
  font-family: 'Libre Baskerville', serif;
}

.background-flat{
  background-color: #fff8e5;
background-image: url("https://www.transparenttextures.com/patterns/cardboard-flat.png");
}

.firstLetter::first-letter {
  font-size: 1.5rem;
}
